body{
    background-color: rgb(241, 239, 80);
    padding: 10px;
}
.box{
    height: 150px;
    width: 150px;
    background-color: seagreen;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    transition: transform 0.5s ease;
}
.translateX:hover {
    transform: translateX(40px);
}
.translateY:hover {
    transform: translateY(40px);
}
.tarnslalteXY:hover {
    transform: translateXY(40px, 40px);
}
.translateZ:hover {
    transform: perspective(200px) translateZ(40px);
}

.rotate:hover {
    transform: rotate(30deg);
}
.rotateX:hover {
     transform: perspective(300px) rotateX(40deg);
}
.rotateY:hover {
    transform: perspective(300px) rotateY(10deg);
}
.rotateZ:hover{
    transform: rotateZ(40deg);
}
.rotate3d:hover{
    transform: perspective(300px) rotate3d(-1, 1, 0, 45deg); 
}
.skewX:hover{
    transform: skewX(-20deg);
}
.skewY:hover{
    transform: skewY(-20deg);
}
   